
.company_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    ;
  }
  
  
  h1, h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #ffbb33;
  }
  
  h2 {
    font-size: 20px;
  }
  
  
  .company_container p {
    margin-bottom: 20px;
    color: black;
  }
  
  
  ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  
  li {
    margin-bottom: 10px;
  }
  

