.footer {
    background-color: #222;
    color:#fff ;
    padding: 3rem;
    text-align: center;
}

.social_list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.social_list li {
    margin-right:0 1em;
}

.social_list li:hover {
    color: #ffbb33;
}
.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #ffbb33;
}