.btn {
    background-color: #222;
    color: #fff;
    padding:  1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
    margin-bottom: auto;
}

.btn:hover {
    background-color: #ffbb33;
    color: #222;
}