.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.list {
    display: flex;
    list-style: none;
    margin: 0;
    
}

.item {
    margin-right: 1rem;
}

.item a {
    color: #fff;
    text-decoration: none;
    
}

.item a:hover {
    color: #ffbb33;
}